.content-modal {
  width: 600px;
  max-height: 200px;

  background: linear-gradient(
    to right,
    #4c4c4d,
    #212129,
    #1d1d2a,
    #212129,
    #393941,
    #212129,
    #212129
  );
  border-radius: 3rem;
  border: none;
  display: grid;
  grid-template-columns: 1fr 2fr;

  .image-comic {
    background: linear-gradient(to left, transparent 1%, rgb(14, 13, 13));

    max-height: 200px;
    border-radius: 1rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .details {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

    gap: 1rem;

    h1,
    h2,
    label,
    h3,
    li,
    a,
    p,
    strong {
      color: #d9d9e7;
      text-align: left;
    }

    strong {
      font-size: 1em;
      padding: 0.5rem 0;
    }

    h1 {
      max-width: 100%;
      font-size: 1.5em;
      margin-top: 0.5rem;
      font-weight: 700;
    }

    h2 {
      padding-top: 1rem;
      font-size: 1.5em;
      font-weight: 600;
    }

    p {
      max-width: 100%;
      font-size: 0.9em;
      letter-spacing: 0.1em;
      padding: 0rem;
    }
  }

}
