.home {
  display: grid;
  grid-template-columns: 10% 70% 20%;
  grid-template-rows: 50px 150px 50px;
  grid-template-areas:
    "sidebar header header"
    "sidebar main main"
    "sidebar main main";
  gap: 1.5rem 0;

  .sidenav {
    grid-area: sidebar;
    $red: #eb2816;
  }

  .header {
    grid-area: header;
    padding: 1rem 0;
    margin: 0 auto;
    width: 95%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-filter {
      display: flex;
      justify-content: center;
      align-items: center;

      gap: 0.25rem;

      h1 {
        margin-top: 1.5rem;
        font-size: 1.5rem;
        color: #d9d9e7;
        font-weight: 600;
      }

      input {
        margin-top: 1.5rem;
        width: 300px;
        padding: 0.5rem;
        background: #1d1d2a;
        border-radius: 0.5rem;
        border: 1px solid #d9d9e7;

        outline: none;
        color: #d9d9e7;

        &::placeholder {
          color: #d9d9e7;
        }
      }

      button {
        margin-top: 1.5rem;

        padding: 0 0.5rem;

        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.8);
        }
      }

      .icon-light {
        color: #1d1d2a;
      }
    }
  }

  .main {
    grid-area: main;

    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    overflow: scroll;

    height: calc(100vh - 80px);

    .content {
      width: 100%;
      flex: 1;
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 1rem;
    }

    .picture-filter {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 100%;
      flex: 0.5;

      background-image: linear-gradient(to bottom, transparent 5%, black),
        url("../../assets/thanos.png");
      filter: brightness(0.8);

      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 2rem;

      cursor: pointer;
      position: relative;
      transition: flex 0.2s ease-in;

      .content-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        padding: 3rem;
        margin: 0 auto;
        // background: red;

        h1 {
          font-size: 1.5rem;
          color: #fff;
          font-weight: 600;
        }
      }
    }

    aside {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      text-align: center;

      gap: 1rem;

      h1 {
        font-size: 1.5rem;
        color: #fff;
        font-weight: 600;
      }

      .aside-adress {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1rem;
        background: linear-gradient(to left, transparent 1%, rgb(14, 13, 13));
        box-shadow: inset 0 0 1em #121213, 0 0 1em #1e1e1f;
        padding: 0.5rem 0;

        gap: 1rem;

        input {
          width: 300px;
          padding: 0.5rem;
          background: #1d1d2a;
          border-radius: 0.5rem;
          border: 1px solid #d9d9e7;

          outline: none;
          color: #d9d9e7;

          &::placeholder {
            color: #d9d9e7;
          }
        }
      }

      h1 {
        font-size: 1.25rem;
        color: #fff;
        font-weight: 600;
      }

      .aside-favorities {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 0.5rem;

        background: linear-gradient(to left, transparent 1%, black);
        box-shadow: inset 0 0 1em #1b1b1a, 0 0 1em #323233;

        border-radius: 1rem;
        .iron {
          max-width: 70px;
          padding: 0.5rem;
          border-radius: 0.25rem;

          animation: fly 0.25s infinite alternate;

          @keyframes fly {
            from {
              transform: translatex(1.5rem);
            }
            to {
              transform: translatex(0);
            }
          }
        }
      }
    }

    footer {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: 0.5rem;

      .header {
        width: 100%;
        display: flex;
        justify-content: space-between;

        li.ant-pagination-disabled,
        li.ant-pagination-disabled:hover,
        li.ant-pagination-disabled:focus-visible {
          cursor: not-allowed !important;
        }

        button.ant-pagination-item-link {
          background: #34343f;
          color: #d9d9e7;
          padding: 0.25rem;

          outline: none;

          border-radius: 0.25rem;

          &:hover {
            border-color: #3434c0;
            color: #3434c0;
          }
        }

        li.ant-pagination-item-active {
          background: #3434c0 !important;

          &:hover {
            border-color: #34343f !important;
            color: #34343f !important;
            cursor: pointer;
          }
        }

        li:not(li.ant-pagination-prev, li.ant-pagination-next, li.ant-pagination-jump-prev, li.ant-pagination-jump-next) {
          padding: 0.25rem;
          background: #34343f;
          padding: 0.25rem 0.5rem;
          border-radius: 0.25rem;
        }

        li {
          &:hover {
            cursor: pointer;
          }
        }

        ul.ant-pagination {
          display: flex;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          color: rgba(0, 0, 0, 0.85);
          font-size: 14px;
          font-variant: tabular-nums;
          line-height: 1.5715;
          list-style: none;
          font-feature-settings: "tnum", "tnum";
          gap: 0.5rem;
        }
      }

      h1 {
        padding: 0.5rem 1rem;
        font-size: 1.5em;
        font-weight: 800;
        color: #d9d9e7;
      }

      .icon-navigation-movie {
        color: #d9d9e7;
        font-size: 50px;
        padding: 1.5rem;
        cursor: pointer;

        transform: scale(0.9);
        transition: all ease 0.2s;
        transition: filter 0.2s;

        &:hover {
          transform: scale(1);
          filter: brightness(0.9);
        }
      }

      .movie-list-area {
        width: 100%;
        display: flex;

        .content-card {
          display: flex;
          flex-direction: column;
        }

        justify-content: space-between;

        overflow-x: scroll;
        overflow-y: hidden;
        scroll-behavior: smooth;

        .row-list-cards {
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  .sidenav {
    grid-area: sidebar;
  }

  .sidenav {
    grid-area: sidebar;
  }

  @media (max-width: 940px) {
    .aside-adress input {
      width: 150px !important;
    }

    // .aside-list {
    //   display: none;
    // }
  }

  @media (max-width: 650px) {
    .content {
      display: flex !important;
      flex-direction: column !important;
      gap: 0.5rem !important;
    }

    .header-filter {
      display: none !important;
      // gap: 0.5rem !important;
    }

    footer .header {
      display: flex !important;
      flex-direction: column !important;
      justify-content: flex-start !important;
      gap: 0.5rem;
    }
  }
}
