.header-location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 1rem;

    p {
      margin-top: 1.5rem;
      color: #d9d9e7;
      font-size: 1.5em;
      font-weight: 600;
    }

    svg:last-child {
      animation: location 1s infinite alternate;

      @keyframes location {
        from {
          transform: translatey(0.25rem);
        }
        to {
          transform: translatey(0);
        }
      }
    }
  }